AWS_REGION=us-east-1
AWS_ACCOUNT_ID=

PROJECT_NAME=smart-outfit
CLUSTER_NAME=smart-outfit
SERVICE_SG_NAME=smart-outfit-ecs-sg

# If empty, script auto-discovers default VPC and first two subnets.
VPC_ID=
SUBNET_IDS=

CLOUD_ALB_NAME=smart-outfit-cloud-alb
CLOUD_TG_NAME=smart-outfit-cloud-tg
FOG_ALB_NAME=smart-outfit-fog-alb
FOG_TG_NAME=smart-outfit-fog-tg

TASK_EXECUTION_ROLE_ARN=
TASK_ROLE_ARN=

SQS_QUEUE_URL=
DYNAMODB_TABLE_RECOMMENDATIONS=outfit-recommendations
DYNAMODB_TABLE_SENSORS=outfit-sensor-snapshots

CLOUD_IMAGE=
FOG_IMAGE=
SENSORS_IMAGE=

CLOUD_SERVICE_NAME=cloud-backend
WORKER_SERVICE_NAME=worker
FOG_SERVICE_NAME=fog-node
SENSORS_SERVICE_NAME=sensor-simulator

CLOUD_TASK_CPU=256
CLOUD_TASK_MEMORY=512
WORKER_TASK_CPU=256
WORKER_TASK_MEMORY=512
FOG_TASK_CPU=256
FOG_TASK_MEMORY=512
SENSORS_TASK_CPU=256
SENSORS_TASK_MEMORY=512

CLOUD_DESIRED_COUNT=1
WORKER_DESIRED_COUNT=1
FOG_DESIRED_COUNT=1
SENSORS_DESIRED_COUNT=1

CPU_ARCH=ARM64
